.inventory {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 64px;
  min-height: 50vh;
}

.inventory__title {
  font-size: 16px;
  text-transform: uppercase;
}

.inventory__text {
  font-size: 14px;
}

.inventory__locations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.inventory__details{
margin-top: 32px
}

.details__title{
margin-bottom: 4px;
font-size: 20px;
}

.details__text{
  margin-top: 4px;
  font-size: 18px;
}