.nav{
max-width: 480px;
margin: 64px auto 32px;
display: flex;
justify-content: space-around;
background-color: rgba(57, 94, 172, 0.2);
min-height: 48px;
align-items: center;
border-radius: 10px;
box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.nav__link{
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: 700;
  transition: ease-in 0.2s;
}

.nav__link:hover{
  opacity: 0.6;
}

.nav__link_active{
  text-decoration: underline;
}